body,div,ul,li,h2{
    margin: 0;
    padding: 0;
}

.items{
    position: relative;
}
.items .hd{
    background-color: rgb(41,157,231);
    color: #fff;
    text-align: center;
}
.items .hd h2{
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    line-height: 25px;
}
.items li{
    width: 90px;
    height: 90px;
    list-style: none;
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
}

.items li.rowspan{
    height: 190px;
}
.items li.colspan{
    width:190px;
}

