body,div,ul,li,h2{
    margin: 0;
    padding: 0;
}

.items{    
	width:1020px;
	margin:0 auto;
	position: relative;
}
.items .hd{    
    color: #fff;
    text-align:right;	
}
.items .hd h2{
    font-size: 22px;
  	padding:5px;
}
.items li{
    width: 160px;
    height: 160px;
    list-style: none;
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
	background-color: rgb(41,157,231);
}

.items li.rowspan{
    height: 330px;
}
.items li.colspan{
    width:330px;
}

